.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
}

.inputLabel {
  margin-right: 10px;
}

.cellRow {
  display: flex;
  flex-direction: row;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
}

.colorBtnContainer {
  display: flex;
  flex-direction: column;
}

#btnsContainer {
  margin-bottom: 10px;
}

.colorBtn {
  height: 35px;
  width: 35px;
  border: solid black 2px;
  border-radius: 5px;
  color: black;
  margin: 0px 3px;
}

#colorBtnBlack {
  color: white;
}

#colorBtnErase {
  width: 55px;
}